<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head.ejs") %>

<body>
  <%- include ("../partials/header.ejs") %>
  <main>
    <form class="product-create" action="/products/create" method="POST" enctype="multipart/form-data">
      
      <label for="productName">Nombre del producto: </label>
      <input type="text" name="productName" id="productName">
      <textarea name="productDescription" id="productDescription" cols="30" rows="10">Descripción del producto</textarea>
      <label for="productImage">Imagen</label>
      <input type="file" name="productImage" id="productImage">
      <div class="product-type">
        <br>
        <h3>Estado: </h3>
        <div class="product-state">
          <label for="productState"><input type="radio" name="productState" id="new" value="new"> Nuevo</label>
          <label for="productState"><input type="radio" name="productState" id="used" value="used"> Usado</label>
        </div>
        <h3>Categoria: </h3>
        <div class="product-category">
          <label for="productCategory"><input type="radio" name="productCategory" id="clothes" value="clothes"> Ropa</label>
          <label for="productCategory"><input type="radio" name="productCategory" id="shoes" value="shoes"> Calzado</label>
        </div>
        <label for="productSize"><input type="text" name="productSize" id="productSize"> Ingrese todos los talles disponibles con un guión medio (-) entre cada uno</label>
        <label for="productColor"><input type="text" name="productColor" id="productColor"> Ingrese todos los colores disponibles con un guión medio (-) entre cada uno</label>
        <label for="productStock"><input type="number" name="productStock" id="productStock"> Stock disponible </label>
      </div>
      <div class="product-price">
        <label for="productPrice"> <input type="number" min="0.01" step="0.01" max="25000" name="productPrice" id="productPrice" value="00.01"> Precio por unidad</label>

      </div>
      <input type="hidden" name="sellerId" value="<%= locals.currentUser.id %>">
      <button class="btn" type="submit">Subir producto</button>
    </form>
  </main>
  <%- include ("../partials/footer.ejs") %>
</body>

</html>