<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head.ejs") %> 
<body>
<%- include ("../partials/header.ejs") %>
<main>
    <form class="product-edit" action="/admin" method="POST" enctype="multipart/form-data">
        <label for="productName">Cambiar nombre: </label>
        <input type="text" name="productName" id="productName">
        <textarea name="productDescription" id="productDescription" cols="30" rows="10">Descripción del producto</textarea>
        <label for="productImage">Cambiar imagen</label>
        <input type="file" name="productImage" id="productImage">
        <div class="product-type">
            <br>
            <h3>Estado: </h3>
            <div class="product-state">
                <label for="productState"><input type="radio" name="productState" id="new">  Nuevo</label>
                <label for="productState"><input type="radio" name="productState" id="used">  Usado</label>
            </div>
            <h3>Categoria: </h3>
            <div class="product-category">
                <label for="productCategory"><input type="radio" name="productCategory id="clothes">  Ropa</label>
                <label for="productCategory"><input type="radio" name="productCategory id="shoes">  Calzado</label>
            </div>
            <label for="productSize"><input type="number" name="productSize" id="productSize"> Talle</label>
        </div>
        <div class="price">
            <label for="productPrice">Precio</label>
            <input type="number" min="0.01" step="0.01" max="25000" name="productPrice" id="productPrice" value="00.01">
        </div>
        <button class="btn" type="submit">Actualizar producto</button>
    </form>
</main>
<%- include ("../partials/footer.ejs") %> 
</body>
</html>