.login {
    background-color: var(--gris-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.login h4 {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: var(--title-md);
    font-weight: 500;
}

.login form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.login form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 0.7em auto;
}

.login form input[type="text"] {
    color: var(--gris-oscuro);
}
.login form .inputt{
    width: 100%;
}
.login label {
    font-size: 1.5em;
}
.login .registro-olvido{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-size: 110%;
}
.login a{
    color: #1a0da0;
    font-size: 1em;
    text-decoration: underline;
}

.registro-exitoso{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 5px;
}

.registro-exitoso a {
    background-color: #1a0da0;
    padding: 3px 10px;
    
}

@media (min-width: 769px)  {
    .login a {
        font-size: 1.5em;
    }
}