.admin-page div img {
    max-width: 50px;
}


.admin-page a {
    color: black;
    font-size: var(--text-lg);
}
.admin-page .admin-options{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    margin: 20px 20%;
}