<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a La Feria</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="top-header flex-row">
            <picture class="logo">
                <img src="" alt="Logo del sitio">
            </picture>
            <form action="/" method="GET" enctype="application/x-www-form-urlencoded">
                <input type="text" class="input" placeholder="Buscar productos, marcas y más">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div class="register-login">
                <a href="/register">Registrate<i class="far fa-id-card"></i></a>
                <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
            </div>
            <div class="cart">
                <a href="/product-cart"><i class="fas fa-shopping-bag"></i></a>
            </div>
            <nav>
               <ul>
                   <li><a href=""></a></li>
                   <li><a href=""></a></li>
                   <li><a href=""></a></li>
                   <li><a href=""></a></li>
                   <li><a href=""></a></li>
               </ul>
            </nav>
        </div>
    </header>
    <main class="register">
        <h4>
            ¡REGISTRATE A CONTINUACIÓN!
        </h4>
        <form action="/registroexitoso" method="post" enctype="application/x-www-form-urlencoded">
            <div class="nombre">
                <label for="nombre">Ingresá tu nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="ingresá tu nombre y apellido" required class="inputt">
            </div>
            <div class="email">
                <label for="email"> Ingresá tu email  </label>
                 <input type="email" name="mail" id="mail" placeholder="ingresá tu email" class="inputt" required>
            </div>
            <div class="formGroup">
                <label for="fechaNacimiento" class="labelTitle">Fecha de Nacimiento</label>
                <input type="date" id="fechaNacimiento" required class="inputt">
            </div>
            <div>
                 <label for="sexo"> ¿Qué tipo de ropa buscás?  </label>
            </div>
            <div class="userType">
               
                <label for="sexo">Masculina </label>
                <input type="radio" name="sexo" id="sexo" value="masculino" name="radioOption">
                <label for="sexo">Femenina</label>
                <input type="radio" name="sexo" id="sexo" value="femenino" name="radioOption">
                <label for="sexo">Unisex</label>
                <input type="radio" name="sexo" id="sexo" value="unisex" name="radioOption">
            </div>
            <div class="contraseña">
                <label for="password"> Ingresá tu contraseña.  </label>
                <input type="password" name="password" id="password" placeholder="8 caracteres mínimo" class="inputt" required><br>
                <label for="repassword"> Reingresá tu contraseña  </label>
                <input type="password" name="repassword" id="repassword" placeholder="repetí tu contraseña" class="inputt" required><br>
                <div class="buttons">
                    <input type="submit" value="Enviar" class="btn">
                    <input type="reset" value="Resetear Datos" class="btn">
                </div>
    </main>
    <footer></footer>