<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a La Feria</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="top-header flex-row">
            <picture class="logo">
                <img src="" alt="Logo del sitio">
            </picture>
            <form action="/" method="GET" enctype="application/x-www-form-urlencoded">
                <input type="text" class="input" placeholder="Buscar productos, marcas y más">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div class="register-login">
                <a href="/register">Registrate<i class="far fa-id-card"></i></a>
                <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
            </div>
            <div class="cart">
                <a href="/product-cart"><i class="fas fa-shopping-bag"></i></a>
            </div>
            <nav>
               <ul>
                   <li><a href=""></a></li>
                   <li><a href=""></a></li>
                   <li><a href=""></a></li>
                   <li><a href=""></a></li>
                   <li><a href=""></a></li>
               </ul>
            </nav>
        </div>
    </header>
    <main class="registroexitoso">
      <h2>GRACIAS POR CREAR TU CUENTA!!!</h2>
      <a href="/">regresar a home</a>
    </main>
    <footer>
        <p class="footerizquierdo">
            Twitter
            <br>
            Facebook
            <br>
            Instagram
        </p>
        <p class="footercentro"><i class="fas fa-certificate"></i>
            All Rigths Reserved
        </p>
        <p class="footerderecho">
            Idiomas
        </p>
    </footer>
</body>
</html>