:root {
    /* colores */
    --amarillo: #eac926;
    --azul: #03264c;
    --azul-claro: #0022aa;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    --negro: #000000;
    --blanco: #ffffff;
    /* tamaños de fuentes */
    --text-sm: 1.2em;
    --text-md: 1.6em;
    --text-lg: 1.8em;
    --title-md: 2.4em;
    /* familias de fuentes */
    --roboto: "Roboto", sans-serif;
  }
.register {
    padding-top: 1.6em;
    min-height: 100vh;
    background-color: #ebebeb;
  }
  
  .register h4 {
    width: 90%;
    font-size: var(--title-md);
    padding: 1em;
    margin: 0 auto;
    text-align: center;
  }
  
  .register form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }
  
  .register form h4 {
    margin-top: 1em;
  }
  
  .register form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 0.7em 0;
  }
  .register form .inputt{
      width: 100%;
  }
  .register form .sexo{
      margin-bottom: 5px;
  }
  .register label{
      font-size: 1.5em;
  }
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .labelTitle {
    font-size: 14px;
    margin-top: 1em;
  }
  
  .userType {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.3em;
    gap: 2em;
  }
  
  .userType input {
    margin: 1em;
  }
  
  .intereses {
    display: flex;
    flex-direction: column;
    margin: 0.3em;
  }
  
  .intereses input {
    margin: 1em;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .btn{
      background-color: #39b54a;
  }
  .login {
    background-color: var(--gris-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
  }
  
  .login h4 {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: var(--title-md);
    font-weight: 500;
  }
  
  .login form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
  
  .login form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 0.7em auto;
    width: 70%;
  }
  
  .login form input[type="text"] {
    color: var(--gris-oscuro);
  }
  .login form .inputt{
    width: 100%;
}
.login label {
    font-size: 1.5em;
}
.login .registro-olvido{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-size: 1.5em;
}