<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %> 
    <main>
        <section class="products">
            <h3>Vistos recientemente</h3>
            <div class="product-container flex-row">
                <article>
                    <a href="">
                        <img src="/images/Default_Image_Thumbnail.png" alt="">
                        <div class="product-card"></div>
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/images/Default_Image_Thumbnail.png" alt="">
                        <div class="product-card"></div>
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/images/Default_Image_Thumbnail.png" alt="">
                        <div class="product-card"></div>
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/images/Default_Image_Thumbnail.png" alt="">
                        <div class="product-card"></div>
                    </a>
                </article>
            </div>
        </section>
        <section class="products">
            <h3>Te puede interesar</h3>
            <div class="product-container flex-row">
                <article>
                    <a href="">
                        <img src="/images/Default_Image_Thumbnail.png" alt="">
                        <div class="product-card"></div>
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/images/Default_Image_Thumbnail.png" alt="">
                        <div class="product-card"></div>
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/images/Default_Image_Thumbnail.png" alt="">
                        <div class="product-card"></div>
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/images/Default_Image_Thumbnail.png" alt="">
                        <div class="product-card"></div>
                    </a>
                </article>
            </div>
        </section>
        <section class="products">
            <h3>Ofertas</h3>
            <div class="product-container flex-row">
                <article>
                    <a href="">
                        <img src="/images/Default_Image_Thumbnail.png" alt="">
                        <div class="product-card"></div>
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/images/Default_Image_Thumbnail.png" alt="">
                        <div class="product-card"></div>
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/images/Default_Image_Thumbnail.png" alt="">
                        <div class="product-card"></div>
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="/images/Default_Image_Thumbnail.png" alt="">
                        <div class="product-card"></div>
                    </a>
                </article>
            </div>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %> 
</body>
</html>