<footer class="footer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <p class="footerizquierdo">
    Twitter
    <a href="#" class="fa fa-twitter"></a>
    <br>
    Facebook
    <a href="#" class="fa fa-facebook"></a>
    <br>
    Instagram
    <a href="#" class="fa fa-instagram"></a>
  </p>
  <p class="footercentro"><i class="fas fa-certificate"></i>
    All Rigths Reserved
  </p>
  <p class="footerderecho">
    Idiomas
  </p>
</footer>