<footer>
  <p class="footerizquierdo">
    Twitter
    <br>
    Facebook
    <br>
    Instagram
  </p>
  <p class="footercentro"><i class="fas fa-certificate"></i>
    All Rigths Reserved
  </p>
  <p class="footerderecho">
    Idiomas
  </p>
</footer>