<header>
  <div class="top-header flex-row">
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
    <a href="/">
      <picture class="logo">
        <img src="/images/logo.svg" alt="Logo del sitio">
      </picture>
    </a>

    <div class="register-login">
      <% if (locals.isLogged) { %>
      <img src="/images/users/<%= locals.currentUser.image %> " alt="Imagen de perfil del usuario">
      <a href="/users/profile">
        <p>Hola <%= locals.currentUser.name %> </p>
      </a>
      <a href="/users/logout">Cerrar sesión</a>

      <% } else {%>

      <a href="/users/register">Registrate<i class="far fa-id-card"></i></a>
      <a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
      <% } %>
    </div>
    <div class="cart">
      <a href="/products/cart"><i class="fas fa-shopping-bag"></i></a>
    </div>
    <form action="/" method="GET" enctype="application/x-www-form-urlencoded">
      <input type="text" class="input" placeholder="Buscar productos, marcas y más">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <nav>
    <ul>
      <li><a href="">Nuevos</a></li>
      <li><a href="">Usados</a></li>
      <li><a href="">Deportes</a></li>
      <li><a href="">Infantil</a></li>
      <li><a href="">Alquiler</a></li>
    </ul>
  </nav>

</header>