#franja{
    border-top: 1px solid #399ef794;
}

.ca_titulo_carrito{/*Propiedades del Titulo: Mi Carrito*/
    font-size: 10px;
    margin-top: 20px;
    margin-left: 15px;
}

.comprar_mas{/*Propiedades seguir comprando*/
    margin: 15px;
}

.comprar_mas >a{/*Propiedades seguir comprando*/
    color: #4facfe;
}

.ca_container_producto_total{/* Contenedor del nombre del producto, imagen, talle, input cantidad, precio, papelera*/
    
    border: 1px solid #a3a2a2(245, 90, 108, 0.555) ;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    position: relative;
    
    
}

.ca_container_producto{ /* Contenedor de la imagen, talle, input cantidad, precio, papelera*/
    display: flex;
    flex-direction: column;
    
}
.ca_container_producto img{/*propiedades de la imagen*/
    margin-left: 20%;
    width: 60%;
    
}

.ca_nombre_producto{/*Propiedades nombre del producto*/
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 10px
  
}

.talle_ca{/*propiedades del texto del TALLE*/
    font-size: 15px;
    
}

.ca_data_producto{/*Contenedor del input cantidad + precio producto*/
    display: flex;
    justify-content: center;
    align-items: center;
    
 
}
.ca_cantidad_producto input{ /*propiedades del input para la cantidad de productos*/
    border-radius: 5px;
    border: solid 1px #a3a2a2;
    margin: 0 100px 0;

}


.precio_ca{/*propiedades del precio del producto*/
    
    font-size: 18px;
    font-weight: bold;
 
}

.ca_remove_product{
    position: relative;

}
.ca_container_producto_total .ca_btn_trash{/*propiedades contenedor(boton) del icono papelera*/
    border: none;
    padding-right: 10px;
    background-color: transparent;
    margin-top: -170%;
   
}

.ca_container_dos{/*Contenedor del label envio, input codigo postal, boton calcular, texto subtotal, texto costo envío, texto monto total*/
    border: 1px solid #a3a2a2(245, 87, 108, 0.555) ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
  
}

.ca_label_envio{/*propiedades del label*/

    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.ca_calculo_envio{/*Contenedor del input Cod. Postal + botón Calcular*/
    display: flex;
    
    
}
.ca_codigo_postal{/*propiedades del input Cod Postal*/
    text-indent: 15px;
    width: 30%;
    height:25px;
    border: solid 1px #a3a2a2;
    outline: none;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 5%), 0 4px 10px 0 rgb(0 0 0 / 30%)

}


.ca_subtotal_carrito {/*propiedades del texto SUBTOTAL*/
    padding: 10px;
}  
       
.ca_costo_envio{/*propiedades del texto COSTO ENVIO/*/
    padding: 10px;
}    

.ca_monto_total{/*propiedades del texto MONTO TOTAL*/
    padding: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
}   
.shopping{/*propiedades del botón Finalizar*/
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    margin: 15px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-image: #a3a3a3;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    
}
   
 /*TABLET*/

@media (min-width:500px) and (max-width:1020px) {
    
  

    .ca_container_producto{/*Contenedor de la imagen,talle, código, input cantidad, precio, papelera*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .ca_container_producto img{/*imagen*/
        margin-left: 5px;
        width: 1%;
    }

    .talle_ca{/*propiedades del TALLE del producto*/
        font-size: 20px;
     }

     .ca_container_dos{/*Contenedor del label envio, input codigo postal, boton calcular, texto subtotal, texto costo envío, texto monto total*/
        box-shadow: 0px 0px 10px rgb(100,100,100); 
    }

    
    .fa-trash-alt{
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right:5px; 
    }
              
}
    

/*DESKTOP*/

@media (min-width: 1024px) {

    .ca_titulo_carrito{/*Propiedades del Titulo: Mi Carrito*/
        font-size: 30px;
    }
    .comprar_mas >a{/*Propiedades link seguir comprando*/
        font-size: 18px;
    
    }
    .ca_nombre_producto{/*Propiedades nombre del producto*/
        font-size: 25px;
        margin: 30px;
    }


    .talle_ca{/*propiedades del texto del TALLE y el CÓDIGO*/
        font-size: 18px;
       
    }

    .ca_container_producto{/* Contenedor de la imagen,talle, código, input cantidad, precio, papelera*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .ca_container_producto img{/*propiedades de la imagen*/
        margin-left: 10px;
        width: 150px;
    }
    .ca_cantidad_producto >input{/*propiedades del input para la cantidad de productos*/
        width: 70px;
        height: 35px;
        font-size: 22px;
       
    }

    .precio_ca{/*propiedades del precio del producto*/
        font-size: 25px;

    }
 
    .fa-trash-alt{/*propiedades papelera*/
        margin-right:25px;
        font-size: 16px;
        
    }

    .ca_container_uno{/*Contenedor del container dos para aplicarle flex-box*/
        display: flex;
        justify-content: right;
    }
    .ca_container_dos{/*Contenedor del label envio, input codigo postal, boton calcular, texto subtotal, texto costo envío, texto monto total*/
        width: 30%;
        
    }

    .ca_container_button{/*Contenedor del botón Finalizar*/
        display: flex;
        justify-content: flex-end;
        margin: 15px;
    }

     
    .shopping{/*Propiedades del botón Finalizar*/
        width: 370px; 
        font-size: 18px;
        font-weight: bold;
         
    }


}