/* Footer */
.footer{
    background-color: #800080;
    padding-top: 30px;
    
    
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    bottom: 10px;
    
    

  }
 /* Facebook */
.fa-facebook:hover {
    background: #3B5998;
    color: white;
    
    
  }
  
  /* Twitter */
  .fa-twitter:hover {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram:hover{
      background: #eb27c0;
      color: white;
  }

.footerizquierdo {
    text-align: left;
    color: white;
    font-size: 20px;
    position: relative;
    width: 15%;
    bottom: 10px;
    
}

.footerderecho {
    text-align: right;
    color: white;
    font-size: 20px;
    position:relative;
    width: 95%;
    bottom: 95px;
    
}

.footercentro {
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 70px;
    
    
}

.idioma {
    width: 200px;
    height: 40px;
    font-size: 20px;
}