<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs") %> 
    <main class="admin-page">
       <div class="admin-options">
            <a href="/products/create">Crear nuevo producto</a>
            <a href="/products/edit">Editar los productos existentes</a>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %> 
</body>
</html>